<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Hello Codemash</title>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <h1>Codesmash Contact</h1>
        <p>Fill in the form below to contact us</p>
        <form action="{% url 'contact:contact_view' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Go!</button>
        </form>
    </body>
</html>
